doctype 5
html(lang="de")
  head
    title= pageTitle
    link(href="css/smoothness/jquery-ui-1.9.2.custom.min.css", rel="stylesheet")
    link(href="css/jquery.miniColors.css", rel="stylesheet")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="js/jquery-1.8.3.min.js")
    script(src="js/jquery-ui-1.9.2.custom.min.js")
    script(src="js/jquery.miniColors.min.js")
    script(src="js/sugar-1.3.6.min.js")
    script(src="js/sugar-locale-de.js")
    style
      .ui-widget {
        font-size: .8em;
      }
    != css('index')
    != js('index')
  body
    #layout
      img(src='img/layout.png', onclick="$('#layouts').toggle()")
      ul#layouts
        li(onclick="$('#controls').toggle()") Seitenleiste
        li(onclick="$('#infoTable').toggle()") Tabellen
        li(onclick="$('#files').toggle()") Dateiliste
    #baustellen
      ul
        each b in baustellen
          li(id= b._id)
            button.ui-icon-trash entfernen
            |  #{b.name}
      form
        input(type='text', name='baustelle')
        input.ui-icon-plus(type='submit', value='hinzuf체gen')
        //- somehow input(type='submit') shows only text instead of icon
        //- button.ui-icon-plus(onclick="$(this).parents('form').submit()") hinzuf체gen
        //- Problem: submits form twice?!
    #controls.ui-accordion.ui-widget.ui-helper-reset
      h3 Upload
      div.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom
        form(action="/upload", method="post", enctype="multipart/form-data")
          input#fileUpload(type='file', name='map')
      h3 Baustelle
      div
        select
          each x in baustellen
            option(value=x._id)= x.name
        button#btn_baustellen.ui-icon-gear verwalten
        ul
          li Plaene
          li Gates
            | 
            button#btn_gate.ui-icon-plus hinzuf체gen
      h3 LKW
      div
      h3 Karte
      div
        | Start: 
        span#time_start
        br
        | Ende: 
        span#time_end
        br
        | Dauer: 
        span#time_duration
        br
        button(onclick='geocode()') reverse geocode
      h3 Filter
      div
        ul
          li Typ
          li Outliers
      h3 Animation
      div
        button#btn_play.ui-icon-play play
        button#btn_stop.ui-icon-stop stop
        input#cb_follow(type="checkbox")
        label(for="cb_follow") folgen
        br
        | Geschwindigkeit: 
        span#speed
        | x
        #speed_slider
      h3 Optionen
      div
        | Farbe: 
        input(type='text')#colorSelector
        |  St채rke: 
        input(type='text')#stroke_spinner
        //- html5 number picker
        //- input(type="number", min="0", max="10", step=".1", value="1")
    #map_canvas
    table#infoTable
      thead
        tr
          th Truck
          th(colspan=2) Dumper 1
          th(colspan=2) Dumper 2
        tr
          th Segment
          th Gate 1 to 1
          th Gate 1 to 3
          th Gate 1 to 1
          th Gate 1 to 3
      tbody
        each s in [1,2,3,4]
          tr
            td Segment time #{s}
            td 2:30
            td 2:30
            td 2:30
            td 2:30
    #files
      each f in files
        a(href="javascript: loadMap('"+f+"')")= f
        br