doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href="css/default.css", rel="stylesheet")
    link(href="css/colorpicker.css", rel="stylesheet")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="js/jquery-1.8.3.min.js")
    script(src="js/sugar-1.3.6.min.js")
    script(src="js/colorpicker.js")
    script(type='text/javascript')
      $(document).ready(function() {
        var strokeColor = '#FF0000';
        var myLatLng = new google.maps.LatLng(0, -180);
        var mapOptions = {
          zoom: 3,
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

        var coordinates = [
            new google.maps.LatLng(37.772323, -122.214897),
            new google.maps.LatLng(21.291982, -157.821856),
            new google.maps.LatLng(-18.142599, 178.431),
            new google.maps.LatLng(-27.46758, 153.027892)
        ];
        path = new google.maps.Polyline({
          path: coordinates,
          strokeColor: strokeColor,
          strokeOpacity: 1.0,
          strokeWeight: 2,
        });

        path.setMap(map);

        // options
        $('#colorSelector').ColorPicker({color: strokeColor, 
          onSubmit: function(hsb, hex, rgb, el) {
            path.setOptions({strokeColor: hex});
            $(el).children().css('backgroundColor', '#' + hex);
          }}).children().css('backgroundColor', strokeColor);

        // submit forms on file select
        $(':file').change(function(){
            $(this).parents('form').submit();
          });
      });


      function drawPasted(){
        var txt = $('#coord').val();
        var txt_coords = txt.split('\n').map(function(x){return x.split(',').map($.trim);});
        var coords = txt_coords.map(function(x){return new google.maps.LatLng(x[0],x[1]);});
        path.setPath([]);
        path = new google.maps.Polyline({
          path: coords,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2,
          editable: true,
        });
        path.setMap(map);
      }

      function loadMap(file){
        // '/map?file=' somehow breaks syntax highlighting for Jade
        $.getJSON('/map?file' + '=' + file,
            {},
            function(json){
              var bounds = new google.maps.LatLngBounds();
              var coords = json.map(function(x){
                var ll = new google.maps.LatLng(x.lat,x.lon);
                bounds.extend(ll);
                return ll;
              });
              path.setPath(coords);
              map.fitBounds(bounds);
            });
      }

      // animation
      var playing = false;
      var fullPath, i;
      function animate(){
        if(!playing) {
          $('#btn_anim').text('stop');
          fullPath = path.getPath().getArray();
          i = 1;
          playing = setInterval('anim_step()', prompt('Interval in ms:', 500));
        } else {
          anim_stop();
        }
      }
      function anim_step(){
        if(i >= fullPath.length) {
          anim_stop();
        }
        path.setPath(fullPath.first(i));
        i++;
      }
      function anim_pause(){
        $('#btn_anim').text('play');
        clearInterval(playing);
        playing = false;
      }
      function anim_stop(){
        anim_pause();
        path.setPath(fullPath);
      }

      var infowindow = new google.maps.InfoWindow();
      var marker;
      var geocoder = new google.maps.Geocoder();
      function geocode() {
        var latlng = path.getPath().getArray().first();
        geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              map.setZoom(11);
              marker = new google.maps.Marker({
                  position: latlng,
                  map: map
              });
              infowindow.setContent(results[1].formatted_address);
              infowindow.open(map, marker);
            } else {
              alert('No results found');
            }
          } else {
            alert('Geocoder failed due to: ' + status);
          }
        });
      }
  body
    #layout
      img(src='images/layout.png', onclick="$('#layouts').toggle()")
      ul#layouts
        li(onclick="$('#controls').toggle()") Seitenleiste
        li(onclick="$('#infoTable').toggle()") Tabellen
        li(onclick="$('#testing').toggle()") Testbereich
        li(onclick="$('#files').toggle()") Dateiliste
    #controls
      b Upload
      form(action="/upload", method="post", enctype="multipart/form-data")
        input#fileUpload(type='file', name='map')
      hr
      b Baustelle
        ul
          li Plaene
          li Gates
      b LKW
      br
      b Filter
        ul
          li Typ
          li Outliers
      b Options
        br
        label(for='colorSelector') Color:
        #colorSelector
          div
    #map_canvas
    table#infoTable
      thead
        tr
          th Truck
          th(colspan=2) Dumper 1
          th(colspan=2) Dumper 2
        tr
          th Segment
          th Gate 1 to 1
          th Gate 1 to 3
          th Gate 1 to 1
          th Gate 1 to 3
      tbody
        each s in [1,2,3,4]
          tr
            td Segment time #{s}
            td 2:30
            td 2:30
            td 2:30
            td 2:30
    #testing Paste coordinates here:
      br
      textarea#coord.
        37.772323, -122.214897
        21.291982, -157.821856
        -18.142599, 178.431
        -27.46758, 153.027892
      br
      button(onclick='drawPasted()') draw route
      button#btn_anim(onclick='animate()') play
      button(onclick='geocode()') reverse geocode
    #files
      each f in files
        a(href="javascript: loadMap('"+f+"')")= f
        br