html, body
  height 100% // needed for scaling google maps

[onclick]
  cursor pointer  // use hand cursor for everything clickable

#layoutMenu
  position absolute
  z-index 1

// variables
controlsWidth = 250px
mapHeight = 80%

#map_canvas
  height mapHeight

#controls
  width controlsWidth
#controls > h3
  padding .3em .7em
#controls > div
  border-top 0  // replacement for ui-accordion-content
  padding .7em
#speed_slider
  margin-top 3px
.minicolors-panel
  background-color black
.minicolors-focus
  z-index 3 // 2 collides with bootstrap's .btn.active
#stroke_spinner
  width 2em
  border none
  padding 0
  margin-bottom 0

#anim_timeline
  background-color lightsteelblue
  overflow hidden
  padding 3px
#anim_time
  position absolute // label and slider in same line
  margin-left .2em
#anim_slider_container
  margin-left 3em // offset for label
  padding 3px 10px // some space for handle

moveVert(n) // mixin for moving things relatively
  top n
  margin-bottom n // otherwise it still leaves an empty space at the original position

#map_resize
  position relative
  top -1.6em
  a
    position absolute
    right controlsWidth
    cursor s-resize

#files a
  margin-left -0.25em
  padding-left 0.5em