html, body
  height 100%

#layoutMenu
  position absolute
  z-index 1

#map_canvas
  height 80%

#anim_timeline
  background-color lightsteelblue
  padding 3px
#anim_slider
  // display inline-block
  width 400px // TODO doesn't scale with fixed-width controls
  // margin-left 3px
  // margin-top 5px

#controls
  width 250px
  height 80%
  float right
#controls h4
  margin 0px
  padding 3px
  color #333
  padding-left 5px
  background-color #eee
  cursor pointer
  border-left 4px solid #98b3fa // #f38787 #65c465 #98b3fa
.accordion-inner
  padding 9px 9px !important

.slider-track
  background #eee
.slider-selection
  background #ccc
.slider-handle
  background #999
  // width 15px

// #speed_slider
//   margin-top 3px
#stroke_spinner
  width 3em
  border none
  padding 0
  margin-bottom 0
