html, body
  height 100%

#layoutMenu
  position absolute
  z-index 1

#map_canvas
  height 80%

#controls
  width 250px
#controls > h3
  padding .3em .7em
#controls > div
  border-top 0  // replacement for ui-accordion-content
  padding .7em
#speed_slider
  margin-top 3px
.minicolors-panel
  background-color black
.minicolors-focus
  z-index 3 // 2 collides with bootstrap's .btn.active
#stroke_spinner
  width 2em
  border none
  padding 0
  margin-bottom 0

#anim_timeline
  background-color lightsteelblue
  overflow hidden
  padding 3px
#anim_time
  position absolute // label and slider in same line
  margin-left .2em
#anim_slider_container
  margin-left 3em // offset for label
  padding 3px 10px // some space for handle
